<!-- HTML de formulario de exemplo -->

<form action="/addaluno" method="post">
    <p>Usuário</p>
    <input type="text" name="nome">
    <p>Cpf</p>
    <input type="text" name="cpf">
    <p>telefone</p>
    <input type="text" name="telefone">
    <p>Celular</p>
    <input type="text" name="celular">
    <p>sexo</p>
    <input type="text" name="sexo">
    <p>Data Nascimento</p>
    <input type="date" name="data_nasc">
    <hr>
    <br>
    <hr>
    <button type="submit">Enviar</button>
</form>


<a href="/prof">Voltar</a>