<!-- HTML de formulario de exemplo -->

<form action="/add" method="post">
    <p>Usuário</p>
    <input type="text" name="nome">
    <p>Cpf</p>
    <input type="text" name="cpf">
    <button type="submit">Enviar</button>
</form>