<!-- Index -->
<header>
    {{> _navbar }}
</header>
<!-- Executando listagem para cada dado que for encontrado na tabela, mostrando os dados que foram passados
como parametro dentro da tag #EACH
 -->
<h2>Listagem: </h2>

{{#each alunos}}
    <h1>{{nome}}</h1>
    <p>{{cpf}}</p>
    <a href="/aluno/deletar/{{id}}"><button class="btn btn-danger">Deletar</button></a>
    <br>
{{/each}}

{{> _footer}}