<title>Live! Yoga</title>
<link rel="stylesheet" href="assets/css/main.css"/>

<body class="is-preload">

	<!-- Header -->
	<header id="header">
		<h1>Live! Yoga</h1>
	
		<nav>
			<ul>
				<li><a href="#intro"><strong>Home<strong></a></li>
				<li><a href="#two">Sobre Nós</a></li>
				<li><a href="#one">Modalidades</a></li>
				<li><a href="#work">Fotos</a></li>
				<li><a href="#contact">Contato</a></li>
				<li>
					<button class="btn-dark dropdown-toggle btn-sm" type="button" id="dropdownMenuButton"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
						style="background: transparent; font-size: medium; border: 0;">
						<strong>Login</strong>
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="aluno/login">Aluno</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="prof/login">Professor</a>
					</div>
				</li>
			</ul>
		</nav>
	</header>

	<!-- Intro -->
	<section id="intro" class="main style1 dark fullscreen">
		<div class="content">
			<header>
				<h2 style="color:black;">Namastê</h2>
			</header>
			<p style="color:black;">Bem vindo ao <strong>Live Yoga</strong>, o site da sua academia de yoga.
				<footer>
					<a href="#one" class="button style2 down">More</a>
				</footer>
		</div>
	</section>

	<!-- One -->
	<section id="one" class="main style2 right dark fullscreen">
		<div class="content box style2">
			<header>
				<h2>Sobre Nós </h2>
			</header>
			<p>Somos um estúdio destinado à práticas de yoga , mais voltada para o Vinyasa Flow Yoga que é uma
				modalidade mais voltada para o condicionamento fisico
				e no fortalecimento do corpo, indicado para todas as idades. Temos turmas exclusivas para crianças e
				idosos em horários distintos.</p>
			<p> Agende sua aula experimental gratuita no telefone: (34)9 9826-2231 e seja bem vindo ao Live Yoga!!</p>
		</div>
		<a href="#two" class="button style2 down anchored">Next</a>
	</section>

	<!-- Two -->
	<section id="two" class="main style2 left dark fullscreen">
		<div class="content box style2">
			<header>
				<h2>Vinyasa Flow Yoga</h2>
			</header>
			<p>Vinyasa é a conexão entre mente, corpo e respiração. A sincronização entre a respiração e o movimento.
				Essa respiração-movimento são os passos na nossa prática de Yoga, como observamos nos nove “Vinyasa” do
				Surya Namaskar A (saudação ao sol). Metaforicamente, Vinyasa é a conexão entre todos esses nove passos
				juntos para construir a sequência da prática no dia. Vinyasa é como uma ponte que conecta nossa prática
				do dia de hoje com o dia de amanhã, com o próximo ano e até com a próxima vida.

			</p>

		</div>
		<a href="#work" class="button style2 down anchored">Next</a>
	</section>

	<!-- Work -->
	<section id="work" class="main style3 primary">
		<div class="content">
			<header>
				<h2>Nosso Trabalho</h2>
				<p>Um pouco do nosso trabalho!!!</p>
			</header>

			<!-- Gallery  -->
			<div class="gallery">
				<article class="from-left">
					<a href="images/fulls/01.jpg" class="image fit"><img src="images/thumbs/img1.jpg"
							title="The Anonymous Red" alt="" /></a>
				</article>
				<article class="from-right">
					<a href="images/fulls/02.jpg" class="image fit"><img src="images/thumbs/img2.jpg"
							title="Airchitecture II" alt="" /></a>
				</article>
				<article class="from-left">
					<a href="images/fulls/03.jpg" class="image fit"><img src="images/thumbs/img3.jpg" title="Air Lounge"
							alt="" /></a>
				</article>
				<article class="from-right">
					<a href="images/fulls/04.jpg" class="image fit"><img src="images/thumbs/img4.jpg" title="Carry on"
							alt="" /></a>
				</article>
				<article class="from-left">
					<a href="images/fulls/05.jpg" class="image fit"><img src="images/thumbs/img5.jpg"
							title="The sparkling shell" alt="" /></a>
				</article>
				<article class="from-right">
					<a href="images/fulls/06.jpg" class="image fit"><img src="images/thumbs/img6.jpg" title="Bent IX"
							alt="" /></a>
				</article>
			</div>

		</div>
	</section>

	<!-- Contact -->
	<section id="contact" class="main style3 secondary">
		<div class="content">
			<header>
				<h2>Tem dúvidas?</h2>
				<p>Entre em contato com a gente!</p>
			</header>
			<div class="box">
				<form method="post" action="#">
					<div class="fields">
						<div class="field half"><input type="text" name="name" placeholder="Nome" /></div>
						<div class="field half"><input type="email" name="email" placeholder="Email" /></div>
						<div class="field"><textarea name="message" placeholder="Mensagem" rows="6"></textarea></div>
					</div>
					<ul class="actions special">
						<li><input type="submit" value="Enviar Mensagem" /></li>
					</ul>
				</form>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">

		<!-- Icons -->
		<ul class="icons">
			<li><a href="https://www.twitter.com/liveyoga4" target="_blank" class="icon brands fa-twitter"><span
						class="label">Twitter</span></a></li>
			<li><a href="https://www.facebook.com/studioliveyoga" target="_blank" class="icon brands fa-facebook-f"><span
						class="label">Facebook</span></a></li>
			<li><a href="https://www.instagram.com/live.yoga" target="_blank" class="icon brands fa-instagram"><span
						class="label">Instagram</span></a></li>
		</ul>

		<!-- Menu -->
		<ul class="menu">
			<li style="color:white;">&copy; Copyright 2019</li>
			<li style="color:white;"> Live Yoga</a></li>
		</ul>

	</footer>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.poptrox.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>