<head>
	<title>Live Yoga</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

	<!-- Header -->
	<header id="header">
		<h1><a class="navbar-brand" href="/">Live! Yoga</a></h1>
		<nav>
			<ul>
				<li><a href="#intro"><strong>Home<strong></a></li>
				<li><a href="#one">Modalidades</a></li>
				<li><a href="#two">Sobre Nós</a></li>
				<li><a href="/prof">Professor</a></li>
				<li><a href="#work">Fotos</a></li>
				<li><a href="#contact">Contato</a></li>
			</ul>
		</nav>
	</header>

	<!-- Intro -->
	<section id="intro" class="main style1 dark fullscreen">
		<div class="content">
			<header>
				<h2 style="color:black;">Namastê</h2>
			</header>
			<p style="color:black;">Bem vindo ao <strong>Live Yoga</strong> o site da sua academia de yoga.
				<!--<a href="https://html5up.net">HTML5 UP</a><br />
					and released for free under the <a href="https://html5up.net/license">Creative Commons Attribution license</a>.</p>-->
				<footer>
					<a href="#one" class="button style2 down">More</a>
				</footer>
		</div>
	</section>

	<!-- One -->
	<section id="one" class="main style2 right dark fullscreen">
		<div class="content box style2">
			<header>
				<h2> Hatha Yoga</h2>
			</header>
			<p>Considerado como yoga clássico, o Hatha Yoga se tornou um dos tipos mais populares do ocidente porque a
				prática é focada no condicionamento físico, no fortalecimento do corpo e no aumento da flexibilidade.

				Durante as aulas, não são realizadas tantas posturas e elas não são tão intensas. É indicado para
				aquelas pessoas que pretendem começar a se aventurar no yoga e a conhecer melhor a prática e seus
				benefícios..</p>
		</div>
		<a href="#two" class="button style2 down anchored">Next</a>
	</section>

	<!-- Two -->
	<section id="two" class="main style2 left dark fullscreen">
		<div class="content box style2">
			<header>
				<h2>Ashtanga Yoga</h2>
			</header>
			<p>LO Ashtanga é uma ramificação que foi desenvolvida a partir do Hatha. As práticas de Ashtanga envolvem
				seis séries de posturas fixas que vão sendo desenvolvidas pelo praticante ao longo do tempo e de acordo
				com a capacidade do corpo de executar cada uma das posições.

				Não existe um tempo certo para o praticante avançar para a série seguinte, isso varia de acordo com cada
				um e cada série se torna mais desafiadora.

				O Ashtanga é uma prática para aqueles que buscam atividades físicas mais estimulantes e mais intensas e
				seus principais benefícios estão associados ao ganho de força, à flexibilidade, ao equilíbrio, à
				consciência corporal e ao alinhamento..</p>
		</div>
		<a href="#work" class="button style2 down anchored">Next</a>
	</section>

	<!-- Work -->
	<section id="work" class="main style3 primary">
		<div class="content">
			<header>
				<h2>Nosso Trabalho</h2>
				<p>Um pouco do nosso trabalho!!!</p>
			</header>

			<!-- Gallery  -->
			<div class="gallery">
				<article class="from-left">
					<a href="images/fulls/01.jpg" class="image fit"><img src="images/thumbs/img1.jpg"
							title="The Anonymous Red" alt="" /></a>
				</article>
				<article class="from-right">
					<a href="images/fulls/02.jpg" class="image fit"><img src="images/thumbs/img2.jpg"
							title="Airchitecture II" alt="" /></a>
				</article>
				<article class="from-left">
					<a href="images/fulls/03.jpg" class="image fit"><img src="images/thumbs/img3.jpg" title="Air Lounge"
							alt="" /></a>
				</article>
				<article class="from-right">
					<a href="images/fulls/04.jpg" class="image fit"><img src="images/thumbs/img4.jpg" title="Carry on"
							alt="" /></a>
				</article>
				<article class="from-left">
					<a href="images/fulls/05.jpg" class="image fit"><img src="images/thumbs/img5.jpg"
							title="The sparkling shell" alt="" /></a>
				</article>
				<article class="from-right">
					<a href="images/fulls/06.jpg" class="image fit"><img src="images/thumbs/img6.jpg" title="Bent IX"
							alt="" /></a>
				</article>
			</div>

		</div>
	</section>

	<!-- Contact -->
	<section id="contact" class="main style3 secondary">
		<div class="content">
			<header>
				<h2>Entre em Contato.</h2>
				<p>Tem dúvidas ? Entre em contato com a gente!</p>
			</header>
			<div class="box">
				<form method="post" action="#">
					<div class="fields">
						<div class="field half"><input type="text" name="name" placeholder="Nome" /></div>
						<div class="field half"><input type="email" name="email" placeholder="Email" /></div>
						<div class="field"><textarea name="message" placeholder="Mensagem" rows="6"></textarea></div>
					</div>
					<ul class="actions special">
						<li><input type="submit" value="Enviar Mensagem" /></li>
					</ul>
				</form>
			</div>
		</div>
	</section>

	{{> _footer}}

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.poptrox.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>